html {
  width: 1024px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.flex {
  display: flex;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

header {
  height: 65px;
  background-color: white;
  align-items: center;
}

.logo {
  margin-left: 24px;
  display: inline-flex;
}

.logo img {
  height: 3rem;
  width: 3rem;
  margin: auto;
}
/*Colmar*/
.title1 {
  font-size: 1.5rem;
  font-weight: bold;
}
/*Academy*/
.title2 {
  font-size: 1.5rem;
  color: grey;
}

nav {
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 24px;
}
nav p {
  padding: 0 8px;
  align-items: flex-end;
}

/*1st Container */
#box1 {
  padding: 32px 24px;
  background-color: grey;
  height: auto;
}

#box1 img {
  margin-right: 40px;
  width: 60%;
  height: 450px;
}

#box1 .learn {
  margin: auto;
}

.learn h2 {

}

.learn h4 {

}

.learn p {
  background-color: DimGrey;
  padding: 8px 0;
  text-align: center;
}

#box2 {
  background-color: white;
  height: auto;
}

#box2 .column {
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}

#box2 img {
  width: 100%;
}

#box2 h2 {

  margin-top: 32px;
  margin-bottom: 24px;
}

#box2 .paragraph {

}

#box2b {
  width: 423px;
  border-left: 1px solid grey;
  flex-direction: column;
  padding: 16px 0;
}

#box2b .flex-container {
  display: inline-flex;
  height: 30%;
}

#box2b .flex-container img {
  width: 35%;
  height: 80%;
  padding:16px;
}
.orient {
  background-color: #e6e6e6;
}
.campus {
  border-top: 0.5px solid grey;
}
.guest {
  background-color: grey;
}


#box3 {
  background-color: #e6e6e6;
}

.start {
  text-align: center;
  font-size: 2rem;
  padding: 32px 48px;

}

#classes {
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 32px 16px;
}
#classes .course {
   height: 40%;
   flex-wrap: wrap;
   width: 28%;
   margin: 16px;
   border: 1px solid white;
}
.course {
  background-color: white;
}
.course img {
  height: 40%;
  width: 100%;
}
.info {
  padding: 16px;
}
#classes .two {
  padding-bottom: 0;
}

.video {
  flex-direction: column;
  margin-left: 24px;
  margin-right: 16px;
  width: 60%;
}
#box4 video {
  margin-bottom: 24px;
  width: 100%;
  height: auto;
}

.video h3 {
  margin-top: 0;
}
.video p {
  margin-bottom: 32px;
}
#box4 {
  flex-direction: column;
}
#box4 .flex-container {
  display: inline-flex;
  height: 168px;
  width: 423px;
}

#box4 .flex-container img {
  width: 35%;
  height: 80%;
  padding: 16px;
}
#box4b {
  flex-direction: column;
}

footer {
  display: flex;
  font-size: 10px;
  border-top: 0.5px solid grey;
  padding: 24px 16px;
}
footer .end {
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.end p {
  padding: 0 8px;
}
